body {
    margin: 48px 0 0;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    /*background-image: linear-gradient(rgb(255, 204, 0),rgb(255, 102, 0));*//*debug*/
    background-color: #181a1b;
}

.scroll-bar::-webkit-scrollbar {
    width: 6px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: #282a2b;
    border-radius: 3px;
}

.container {
    position: fixed;
    top: 48px;
    width: calc(100% - 16px);
    height: calc(100% - 48px);
    overflow-y: auto;
    text-align: center;
}

.small-container {
    margin: 16px;
}

.spacer {
    border-bottom: 1px solid #3d4244;
    width: 100%;
    margin: 3px 0;
}

.icon-image {
    width: 18px;
    height: 12px
}

.button a {
    background-color: #282A2B;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover,
.button a:hover,
.icon-mobile:hover {
    background-color: #313435;
}

.icon-mobile {
    display: none;
}

.navbar {
    overflow: hidden;
    background-color: #282a2b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar a {
    height: 20px;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.navbar a.main {
    color: #00ff00;
}

.navbar a.active {
    background-color: #2D5431;
    color: white;
}

.navbar .icon {
    display: none;
}

p {
    color: white;
    margin: 0;
}

.text-medium {
    height: 19px
}

.text-main {
    margin:  16px 0 16px 0;
}

.message-text-medium-gray {
    color: darkgrey;
    font-size: 12px;
    margin: 0
}

.message-text-large {
    color: white;
    font-size: 16px;
    margin: 0;
}

.border {
    background-color: #282a2b;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    height: 387px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 732px) {

    .navbar a:not(:first-child) {
        display: none;
    }

    .icon-mobile {
        line-height: 24px;
        width: 28px;
        height: 28px;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
        float: right;
        display: block;
        text-align: center;
        font-size: 17px;
        cursor: pointer;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

input {
    color: white;
    font-size: 16px;
    width: calc(100% - 32px);
    padding: 4px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #3d3d3d;
}

input:focus {
    outline: 1px solid white;
}

a {
    text-decoration: none;
}

.icon-text a {
    display: block;
    margin-bottom: 18px;
}

.grid {
    padding: 18px 0 18px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-item {
    flex: 0 0 25%;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.1);
}

.grid-image {
    width: 300px;
    height: 300px
}

@media (min-width: 600px) {
    .grid-item {
        flex: 0 0 16.66%;
    }
}

@media (min-width: 1000px) {
    .grid-item {
        flex: 0 0 8.33%;
    }
}